---
apiVersion: v1
kind: Service
metadata:
  name: plex-service
  namespace: plex
spec:
  ports:
  - name: plex-web
    protocol: TCP
    port: 32400
    targetPort: 32400
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: plex-service-slice-manual
  namespace: plex
  labels:
    kubernetes.io/service-name: plex-service
addressType: IPv4
ports:
  - name: plex-web
    protocol: TCP
    port: 32400
endpoints:
  - addresses:
      - "xx.xx.xx.xx" # <-- Add your node IP


